.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  margin: 20px 0 0 0;
}
